.filter-bg {
    display: flex;
    padding: 0px 98px 0px 97px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2D1E6B;
    
}

.filter-heading {
    width: 718px;
}

.text {
    color: #FFF;
    text-align: center;
    font-family: OndoBold;
    font-size: 66px;
    font-style: normal;
    font-weight: 800;
    line-height: 116.6%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.gradient-text {
    background: linear-gradient(90deg, #6542F4 45.92%, #F976FF 61.87%, #B50098 75.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: OndoBold;
    font-size: 66px;
    font-style: normal;
    font-weight: 800;
    line-height: 116.6%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.filter-row {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.space-20w {
    width: 20px;
}

.space-27w {
    width: 27px;
}

.space-86h {
    height: 86px;
}

.banner-bar {
    height: 90px;
    flex-shrink: 0;
    border: 1px solid #000;
    flex-direction: row;
    background: lightgray 0% 0% / 100px 100px repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(25px);
}

.banner-bar-text {
    color: #FFF;
    font-family: Ondo;
    font-size: 37.039px;
    font-style: normal;
    font-weight: 800;
    line-height: 40.965px;
    letter-spacing: 1.482px;
    text-transform: uppercase;
    overflow: hidden;
    text-wrap: wrap;
}

.banner-bar-row {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 51px;
}

.f-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    color: #FFF;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 800;
    line-height: 19.908px;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    height: 21.667px;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.f-overlay-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    color: #FFF;
    font-family: LatoBlack;
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    line-height: 19.908px;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    height: 21.667px;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.button-container {
    position: relative;
}