.cta-background {
    display: flex;
    /*width: 100%;
    height: 100%;*/
    padding-bottom: 0.553px;
    justify-content: center;
    align-items: center;
    background: #2D1E6B;
    align-items: center;
    align-content: center;
}

.cta-container {
    width: 1240px;
    height: 556px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: url('../../assets/call_to_action.png'), lightgray 0% 0% / 100px 100px repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(25px);
}

.cta-heading-gradient {
    background: linear-gradient(90deg, #6542F4 15.99%, #F976FF 30.01%, #B50098 45.36%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Ondo;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 116.6%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    word-spacing: 10px;
}

.cta-heading {
    color: #FFF;
    font-family: Ondo;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 55.968px;
    letter-spacing: -0.24px;
    text-transform: uppercase;
}

.cta-subheading-container {
    width: 463px;
}

.cta-subheading {
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.616px;
    letter-spacing: 0.64px;
}

.cta-row {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.cta-row-heading {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;

}

.cta-column {
    flex-direction: column;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}


.head-text {
    position: relative;
}


.text-on-image {
    position: absolute;
    right: 25%;
    left: 25%;
    bottom: 40%;
}


.cta-image img {
    width: 725px;
    height: 600px;
    flex-shrink: 0;
    background-size: auto;
    align-items: start;
}

.space-width {
    width: 20px;
}

.space-height {
    height: 20px;
}

.row {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}