
.banner-section {
    width: 100%;
    background: #2D1E6B;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
    justify-content: center;
    align-items: center;
}

.banner-heading-text {
    color: #FFF;
    font-family: OndoBold;
    font-size: 68.937px;
    font-style: normal;
    font-weight: 900;
    line-height: 76.245px;
    letter-spacing: 2.757px;
    text-transform: uppercase;
}

.banner-heading-gradient-text {
    background: linear-gradient(90deg, #6542F4 43.84%, #F976FF 68.39%, #B50098 91.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: OndoBold;
    font-size: 68.937px;
    font-style: normal;
    font-weight: 800;
    line-height: 110.6%;
    letter-spacing: 2.757px;
    text-transform: uppercase;
}

.banner-container-text {
    color: #FFF;
    font-family: Lato;
    font-size: 18.715px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.642px;
    letter-spacing: 0.749px;
}

.banner-blur {
    position: absolute;
    left: -100px;
    top: -50px;
    width: 341px;
    height: 341px;
    flex-shrink: 0;
    border-radius: 341px;
    background: #DD00B8;
    filter: blur(292px);
}

.page-img {
    position: absolute;
    width: 1836px;
    height: 610px;
    flex-shrink: 0;
    background: url('../../assets/dashboard_image.png') center center fixed;
    background-size: cover;
    mix-blend-mode: color-dodge;
}

.banner-extra-text {
    color: #FFF;
    font-family: OndoBold;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 33.18px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.banner-extra-text-gradient {
    font-family: OndoBold;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 33.18px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background: var(--Text-Gradient, linear-gradient(90deg, #6542F4 11.84%, #F976FF 51.56%, #B50098 86.46%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-extra-subtext {
    color: #FFF;
    font-family: Lato;
    font-size: 18.715px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.642px;
    letter-spacing: 0.749px;
    text-transform: capitalize;
}

.banner-bar {
    width: 100%;
    height: 90px;
    transform: rotate(-1.983deg);
    flex-shrink: 0;
    border: 1px solid #000;
    flex-direction: row;
    background: lightgray 0% 0% / 100px 100px repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(25px);
}

.banner-bar-texts {
    color: #FFF;
    overflow: hidden;
    font-family: Ondo;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 33.18px;
    letter-spacing: 1.2px;
    flex-direction: row;
    overflow-inline: hidden;
    text-transform: uppercase;
    width: max-content;
}

.bar-spacing {
    gap: 51px;
}

.overlay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 18, 99, 0.5);
}

.banner-columns {
    flex-direction: column;
    flex-shrink: 0;
    flex: 1;
    display: flex;
}

.banner-row {
    grid-auto-flow: row;
    display: flex;
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.button-text {
    color: #FFF;
    font-family: Ondo;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 22.12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.button-text-gradient {
    background: var(--Text-Gradient, linear-gradient(90deg, #6542F4 11.84%, #F976FF 51.56%, #B50098 86.46%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Ondo;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 22.12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.banner-heading-content {
    width: 560;
    height: 230;
    padding-left: 180px;
}

.banner-secondary-content {
    padding-left: 180px;
    padding-bottom: 30px;
    padding-top: 20px;
    width: 602px;
    height: 105;
}

.info-container {
    width: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    flex: 1;
    display: flex;
}

.space-10w {
    width: 10px;
}

.space-15w {
    width: 15px;
}

.space-31w {
    width: 31px;
}

.space-180w {
    width: 180px;
}

.space-10h {
    height: 10px;
}

.button-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.banner-text-overlay {
    position: absolute;
    top: 25%;
}