.filter-card {
    width: 397px;
    height: 537px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: url('../../assets/filter-bg.png');
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(25px);

}

.card-column {
    flex-direction: column;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
    flex-shrink: 0;
    flex: 1;
    display: flex;

}

.card-row {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
}

.card-row-img {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.row {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.heading-text {
    color: #FFF;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.544px;
    letter-spacing: 0.84px;
    text-transform: capitalize;
}

.avatar-img {
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 53px;
    background: lightgray 50% / cover no-repeat;
}


.image-container img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #000;
}

.avatar-img img {
    height: 100%;
    width: 100%;

    border-radius: 53px;
}

.sub-text {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.908px;
    letter-spacing: 0.63px;
    text-transform: capitalize;
}

.sub-sub-text {
    color: #FFF;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 11.06px;
    letter-spacing: 0.35px;
    text-transform: capitalize;
}

.image-container {
    width: 361px;
    height: 265px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(25px);
    padding: 4;
}

.small-space {
    height: 8px;
}

.small-space-width {
    width: 10px;
}

.space-25 {
    width: 25px;
}

.space-35 {
    width: 35px;
}


.space-18 {
    height: 18px;
}

.space-30 {
    height: 30px;
}

.space-20 {
    height: 20px;
}

.center {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';

}

.testimonial-card {
    width: 607px;
    height: 388px;
    flex-shrink: 0;
    border-radius: 10px;
    /*
    border: 1px solid #000;*/
    background: lightgray 0% 0% / 100px 100px repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
    background: url('../../assets/testimonial-bg.png');
    backdrop-filter: blur(25px);
    justify-content: center;
    align-items: center;
}

.testimonial-card-text {
    width: 524px;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 185.1%;
    /* 29.616px */
    letter-spacing: 0.64px;
}

.testimonial-card-bar {
    width: 528px;
    height: 1px;
    background: linear-gradient(90deg, #FFF 1.04%, rgba(255, 255, 255, 0.00) 100%);
}

.verified {
    color: #FFF;
    font-family: Lato;
    font-size: 14.65px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.203px;
    letter-spacing: 0.513px;
    text-transform: capitalize;
    padding-right: 40px;
}

.star-container {
    padding-left: 35px;
    padding-top: 50px;
}

.verification-image {
    background: url("../../assets/verification.svg"), url("../../assets/tick.svg");

}

.container {
    width: 100px;
    height: 100px;
}

.img-overlay{
    position: absolute;
    right: 70px;
    top: -50px;
}

.img-overlay-1{
    position: absolute;
    right: 140px;
    top: -50px;
}