.navbar {
    display: flex;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    gap: 213px;
    padding: 2rem 6rem;
}

.navbar-logo-text {
    color: #FFF;
    font-family: Ondo;
    font-size: 30.767px;
    font-style: normal;
    font-weight: 800;
    line-height: 34.028px;
    letter-spacing: 1.231px;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links_logo {
    margin-right: 2rem;
}

.circle-img {
    border-radius: 6px;
    background: url('../../assets/testimonial-bar1.png'), lightgray 50% / cover no-repeat, #D9D9D9;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar-links_logo img {
    width: 45.751px;
    height: 34.858px;
    flex-shrink: 0;
}

.navbar-links_container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.navbar-logo {
    background-color: var(--1);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-logo img {
    height: 100%;
    width: 100%;
}

.navbar-circle {
    position: absolute;
    top: 60px;
    right: 95px;
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 5px;
}

.navbar-circle img {
    height: 100%;
    width: 100%;
    border-radius: 53px;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 250;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar-links_container p,
.navbar-menu_container p {
    width: 150px;
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    max-width: max-content;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 19.908px;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    flex: 1;
}

.navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.space {
    width: 10px;
}

@media screen and (max-width: 1050px) {
    .navbar-links_container {
        display: none;
    }

    .navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: 2rem;
    }



    .navbar-menu_container {
        top: 20px;
    }


}