.testimonial-bg {
    height: 736px;
    width: 100%;
    background: #2D1E6B;
    display: flex;
    padding: 0px 98px 0px 97px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-bar {
    height: 90px;
    flex-shrink: 0;
    border: 1px solid #000;
    flex-direction: row;
    background: lightgray 0% 0% / 100px 100px repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(25px);
}

.testimonial-column img{

        width: 36px;
        height: 36px;
        fill: var( linear-gradient(58deg, #6542F4 34.78%, #F976FF 52.55%, #B50098 70.32%));

}



.banner-bar-row {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 51px;

}

.testimonial-row {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.space-width {
    width: 31px;
}

.space-height {
    height: 100px;
}

.space-height-40h {
    height: 40px;
}

.bottom-icons {
    width: 162px;
    height: 28.929px;
    flex-shrink: 0;
}

.row {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}