.carousel-background {
    background: #2D1E6B;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 0px 98px 0px 97px;

}

.carousel-row {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.carousel-heading-content {
    width: 718px;
}

.c-row {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.c-column {
    flex-direction: column;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.carousel-heading {
    color: #FFF;
    text-align: center;
    font-family: Ondo;
    font-size: 66px;
    font-style: normal;
    font-weight: 800;
    line-height: 76.956px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    justify-content: center;
    word-spacing: 10px;
}

.carousel-heading-gradient {
    background: linear-gradient(90deg, #6542F4 15.99%, #F976FF 30.01%, #B50098 45.36%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Ondo;
    font-size: 66px;
    font-style: normal;
    font-weight: 800;
    line-height: 116.6%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    word-spacing: 10px;
}

.space-20w {
    width: 20px;
}

.space-10w {
    width: 10px;
}

.space-50h{
    height: 50px;
}

.carousel-container {
    width: 518px;
}

.carousel-container-text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.616px;
    letter-spacing: 0.64px;
    justify-content: center;
}

.rev-image {
    width: 451.136px;
    height: 366.969px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 11.222px;
    border: 1.122px solid var(--1, #000);
    background: url('../../assets/game_couresel_3.jpeg'), lightgray 50% / cover no-repeat;
}

.main-image {
    width: 650px;
    height: 400px;
    flex-shrink: 0;
    color: white;
    flex-shrink: 0;
    text-align: center;
    border-radius: 11.222px;
    padding: 20px;
    margin: 0 auto;
    background: url('../../assets/carousel-bg.png');

}

.forward-image {
    width: 451.136px;
    height: 366.969px;
    flex-shrink: 0;
    border-radius: 11.222px;
    border: 1.122px solid var(--1, #000);
    background-image: url('../../assets/game_couresel_2.jpeg');
}

.main-container {
    max-width: 100%;
    height: 450;
    justify-content: center;
    flex: 1;
    align-items: center;
    align-content: center;
}

.main-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 415px;
    width: 650px;
}

.main-img-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}

.custom-row {
    gap: 40px;
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;

}

.custom-row p {
    display: flex;
    justify-content: center;
}

.carousel-row-text {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
}

.button-text {
    color: #FFF;

    font-family: Ondo;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 22.12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.button-text-gradient {
    background: var(--Text-Gradient, linear-gradient(90deg, #6542F4 11.84%, #F976FF 51.56%, #B50098 86.46%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: Ondo;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 22.12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.img-overlay-left {
    position: absolute;
    left: -30px;
    top: 130px;

}

.img-overlay-right {
    position: absolute;
    right: -30px;
    top: 130px;
}

.img-overlay-topleft {
    position: absolute;
    left: 10px;
    top: 15px;
}

.img-overlay-topright {
    position: absolute;
    right: -30px;
    top: 15px;
}

.img-overlay-topleft img,
.img-overlay-topright img {
    height: 100px;
    width: 100px;
}

.img-overlay-topleft2 {
    position: absolute;
    left: 30px;
    top: 22px;
}

.img-overlay-topright2 {
    position: absolute;
    right: 30px;
    top: 22px;
}

.main-image-topcenter-overlay {
    position: absolute;
    top: 18px;
}

.main-image-topcenter-overlay img {
    max-width: max-content;
}

.top-overlay {
    position: absolute;
    top: -17px;
    right: 70px;
}

.img-overlay-centercircle {
    position: absolute;
    top: -55px;
}

.img-overlay-centercircle2 {
    position: absolute;
    top: -50px;
}

.img-overlay-topleft-center {
    position: absolute;
    left: 10px;
    top: 120px;
}

.img-overlay-topright-center {
    position: absolute;
    right: 10px;
    top: 120px;
}

.img-overlay-leftcorner {
    position: absolute;
    left: 9px;
    bottom: -10px;
}

.img-overlay-rightcorner {
    position: absolute;
    right: 9px;
    bottom: -10px;
}

.img-overlay-rightcorner img,
.img-overlay-leftcorner img {
    width: 170px;
}

.img-overlay-bottomleft {
    position: absolute;
    left: 9px;
    bottom: -3px;
}

.img-overlay-bottomright {
    position: absolute;
    right: 10px;
    bottom: -3px;
}

.img-overlay-bottom-center {
    position: absolute;
    bottom: 20px;
    justify-content: space-between;
    width: 280px;

}

.img-overlay-bottom-center img {
    flex: 1;
    flex-direction: row;
    width: 10px;

}

.img-overlay-aboveright {
    position: absolute;
    right: 240px;
    top: -18px;
}

.img-overlay-aboveleft {
    position: absolute;
    left: 240px;
    top: -18px;
}

.img-overlay-aboveleft img,
.img-overlay-aboveright img {
    width: 24.827px;
    height: 15.423px;
    flex-shrink: 0;
}

.main-image-bottom-overlay {
    position: absolute;
    bottom: -25px;
    left: 170px;
}

.main-image-bottom-overlay1 {
    position: absolute;
    bottom: -28px;
    left: 160px;

}

.button-container {
    position: relative;
    display: inline-block;
}

.center-text {
    width: 221px;
    color: #FFF;
    font-family: Ondo;
    font-size: 22.056px;
    font-style: normal;
    font-weight: 800;
    line-height: 110.6%;
    letter-spacing: 1.122px;
    text-transform: uppercase;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.img-overlay {
    position: absolute;
    top: -95px;
    left: 10px;

}

.container-mainImage-exterioritems {
    height: 70px;
    width: 20px;
}

.container-mainImage-exterioritems img {
    height: 18px;
    width: 20px;
}

.container-mainImage-interioritems {
    height: 100px;
    width: 20px;
}

.column img {
    height: 20px;
    width: 20px;
}

.cta-image img {
    width: 725px;
    height: 650px;
    flex-shrink: 0;
    background-size: auto;
    align-items: start;
}

.carousel-container2 {
    width: 650px;
    height: 400px;
    flex-shrink: 0;
    backdrop-filter: blur(0px);
}