.footer-bg {
    width: 100%;
    height: 650px;
    flex-shrink: 0;
    background: url('../../assets/footer_image.jpeg') #2D1E6B no-repeat center center fixed;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    background-size: cover;
    padding: 0px 98px 0px 97px;
    justify-content: center;
    align-items: center;

  

}

.logo-img {
    width: 59.151px;
    height: 45.067px;
    flex-shrink: 0;
    fill: var(--1, lightgray 50% / cover no-repeat);
}


.banner-bar-row {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 51px;
    height: 90px;
    border: 1px solid #000;
    background: url('../../assets/rectangle.png');
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(25px);

}


.footer-overlay{
    position: absolute;
    top: -50px;
}


.footer-container {
    height: 150px;
    width: 100%;
    flex-direction: row;
    backdrop-filter: blur(0px);
}

.footer-text {
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 185.1%;
    /* 29.616px */
    letter-spacing: 0.64px;
}

.footer-text-options {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110.6%;
    /* 19.908px */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}



.footer-heading {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 110.6%;
    /* 19.908px */
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.logo-text {
    color: #FFF;
    font-family: Ondo;
    font-size: 39.778px;
    font-style: normal;
    font-weight: 800;
    line-height: 110.6%;
    /* 43.994px */
    letter-spacing: 1.591px;
}

.copyright {
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 173.6%;
    /* 24.304px */
    letter-spacing: 0.91px;
}

.footer-container {
    width: 315px;
    justify-content: center;
}

.space-height {
    height: 121px;
}

.row {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
    flex-shrink: 0;
    flex: 1;
    display: flex;
}

.content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.space-width {
    width: 150px;
}

.container {
    width: 200px;
    height: 300px;
}

.container-logo {
    width: 200px;
}

.container-heading {
    width: 400px;
    height: 400px;
}

.spacing {
    height: 30px;
}

.space-10h {
    height: 10px;
}