.footer-bg {
    height: 560px;
    width: 1530px;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    padding: 0px 98px 0px 97px;
    justify-content: center;
    align-items: flex-start;
    background: url('../../assets/footer_image.jpeg') no-repeat;
    background-size: contain;
    
}

.logo-img {
    width: 59.151px;
    height: 45.067px;
    flex-shrink: 0;
    fill: var(--1, lightgray 50% / cover no-repeat);
}

.banner-bar-row {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 51px;
    height: 90px;
    border: 1px solid #000;
    background: url('../../assets/rectangle.png');
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
    backdrop-filter: blur(25px);

}

.banner-bar-row img {
    width: 36px;
    height: 36px;
    fill: var(linear-gradient(58deg, #6542F4 34.78%, #F976FF 52.55%, #B50098 70.32%));
}

.banner-text-overlay {
    position: absolute;
    top: 25%;

}

.footer-overlay {
    position: absolute;
    top: -50px;
}

.footer-container2 {
    height: 150px;
    width: 100%;
    flex-direction: row;
    backdrop-filter: blur(0px);
}

.footer-text {
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 185.1%;
    letter-spacing: 0.64px;
}

.footer-text-options {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110.6%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.footer-heading {
    color: #FFF;
    font-family: LatoBlack;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 110.6%;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

.logo-text {
    color: #FFF;
    font-family: OndoBold;
    font-size: 39.778px;
    font-style: normal;
    font-weight: 800;
    line-height: 110.6%;
    letter-spacing: 1.591px;
}

.copyright {
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 173.6%;
    letter-spacing: 0.91px;
}

.footer-container {
    width: 315px;
    justify-content: center;
}

.row {
    flex-direction: row;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
    flex-shrink: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-column{
    flex-direction: column;
    flex-shrink: 0;
    flex: 1;
    display: flex;
}


.content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    width: 200px;
    height: 300px;
}

.container-logo {
    width: 200px;
}

.container-heading {
    width: 400px;
    height: 400px;
}

.space-30h {
    height: 30px;
}

.space-10h {
    height: 10px;
}

.space-150w {
    width: 150px;
}

.space-121h {
    height: 121px;
}
